
@{
    ViewBag.Title = "Delgates";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


    <link href="~/Content/register/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/register/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/register/assets/css/Custom_style.css" rel="stylesheet">
    <link href="~/Content/register/assets/css/media_css.css" rel="stylesheet">
    <link href="~/Content/register/assets/vendor/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Content/assets/css/toastr.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Content/assets/css/toastr.min.js"></script>

    <style>
        .form-1-box {
            padding-top: 30px;
            text-align: left;
        }

            .form-1-box legend {
                font-size: inherit;
                line-height: 30px;
                font-weight: 600;
                text-transform: uppercase;
                color: #555;
            }

            .form-1-box .form-check-label {
                line-height: 1.5;
                vertical-align: top;
            }

            .form-1-box input[type="text"],
            .form-1-box input[type="email"],
            .form-1-box input[type="password"] {
                background: none;
                border: 1px solid #ddd;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: #888;
                box-shadow: none;
            }

                .form-1-box input[type="text"]:focus,
                .form-1-box input[type="email"]:focus,
                .form-1-box input[type="password"]:focus {
                    outline: 0;
                    background: none;
                    border: 1px solid #db5d50;
                    box-shadow: none;
                }

                .form-1-box input[type="text"]::-moz-placeholder,
                .form-1-box input[type="email"]::-moz-placeholder,
                .form-1-box input[type="password"]::-moz-placeholder {
                    color: #bbb;
                    font-style: italic;
                }

                .form-1-box input[type="text"]:-ms-input-placeholder,
                .form-1-box input[type="email"]:-ms-input-placeholder,
                .form-1-box input[type="password"]:-ms-input-placeholder {
                    color: #bbb;
                    font-style: italic;
                }

                .form-1-box input[type="text"]::-webkit-input-placeholder,
                .form-1-box input[type="email"]::-webkit-input-placeholder,
                .form-1-box input[type="password"]::-webkit-input-placeholder {
                    color: #bbb;
                    font-style: italic;
                }

            .form-1-box button.btn-customized {
                margin-top: 1rem;
                padding: .75rem 1.5rem;
                background: #db5d50;
                border: 0;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: #fff;
                box-shadow: none;
            }

                .form-1-box button.btn-customized:hover,
                .form-1-box button.btn-customized:active,
                .form-1-box button.btn-customized:focus,
                .form-1-box button.btn-customized:active:focus,
                .form-1-box button.btn-customized.active:focus,
                .form-1-box button.btn.btn-primary:not(:disabled):not(.disabled):active,
                .form-1-box button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
                    outline: 0;
                    background: #ca594d;
                    border: 0;
                    color: #fff;
                    box-shadow: none;
                }
    </style>
</head>
@*<img src="~/Content/assets/img/patten_3.png" />*@
<body style="font-family: 'Poppins', sans-serif;  background-image: url(../../Content/assets/img/patten_3.png)">
    <form name="application_form" action="send_mail.php" method="post" onsubmit="return registration();">
        <div align="center">
            <div class="row">

                <h1 style="text-transform: uppercase; color: white;"> <img src="~/Content/register/assets/images/logo.png" />&nbsp;&nbsp;&nbsp;<span style="padding: 36%; margin-left: -319px;">Registration Form</span> </h1>
            </div>

            <div class="form-1-container section-container">
                <div class="container">
                    <div class="row">
                        <div class="col form-1 section-description wow fadeIn">
                            <h2>Form 1</h2>
                            <div class="divider-1 wow fadeInUp"><span></span></div>
                            <p>A form with 2 "fieldset"-s and 2 "legend"-s: "User's credentials" and "User's preferences".</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">

                            <form action="" method="post">
                                <!-- User's Credentials  -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">User's Credentials</legend>
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control username" id="username" placeholder="Username..." name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control email" id="email" placeholder="Email..." name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" class="form-control password" id="password" placeholder="Password..." name="password">
                                    </div>
                                </fieldset>
                                <!-- User's Preferences  -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">User's Preferences</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="preferences" id="daily" value="daily">
                                        <label class="form-check-label" for="daily">I want <strong>daily</strong> emails</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="preferences" id="weekly" value="weekly">
                                        <label class="form-check-label" for="weekly">I want <strong>weekly</strong> emails</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="preferences" id="monthly" value="monthly">
                                        <label class="form-check-label" for="monthly">I want <strong>monthly</strong> emails</label>
                                    </div>
                                </fieldset>
                                <!-- Submit Button  -->
                                <div class="form-group row text-right">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-customized">Subscribe</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact footer-row">
                        <img src="~/Content/register/assets/images/logo.png" title="LOGO" alt="LOGO">
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>QUICK LINKS</h4>
                        <ul>
                            <li><i class="bx"></i> <a href="#">Home</a></li>
                            <li><i class="bx"></i> <a href="#">About The G20</a></li>
                            <li><i class="bx"></i> <a href="#">G20 Presidency Of India</a></li>
                            <li><i class="bx"></i> <a href="#">Workstreams</a></li>
                            <li><i class="bx"></i> <a href="#">Media</a></li>
                            <li><i class="bx"></i> <a href="#">Explore india</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>DIRECTORY</h4>
                        <ul>
                            <li><i class="bx"></i> <a href="#">Abenomics</a></li>
                            <li><i class="bx"></i> <a href="#">G20 INDIA 2023</a></li>
                            <li><i class="bx"></i> <a href="#">Innovation india</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>MENU</h4>
                        <ul>
                            <li><i class="bx"></i> <a href="#">Cabinet</a></li>
                            <li><i class="bx"></i> <a href="#">Ministries and Agencies</a></li>
                            <li><i class="bx"></i> <a href="#">The Diet</a></li>
                            <li><i class="bx"></i> <a href="#">The Supreme Count</a></li>
                            <li><i class="bx"></i> <a href="#">Other Governmental Agencies</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>CONTACT</h4>
                        <ul>
                            <li><i class="bx"></i> <a href="#">Address line 1</a></li>
                            <li><i class="bx"></i> <a href="#">Address line 2,</a></li>
                            <li><i class="bx"></i> <a href="#">Email: info@g20india.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright topStrip cf">
                <ul class="leftLink">
                    <li> <a class="topSitemap" href="#">&nbsp; Trems and Conditions</a></li>
                    <li><a class="topSitemap" href="#">Privacy Policy</a></li>
                    <li><a class="topFeedback" href="#">Copyright Policy </a></li>
                    <li><a class="topSitemap" href="#">Hyperlinking Policy</a></li>
                    <li><a class="topSitemap" href="#">Accessibility Statement</a></li>
                    <li><a class="topFeedback" href="#">Help </a></li>
                </ul>
            </div>
            <div class="credits">
                © Government of india 2023
            </div>
        </div>
    </footer>

</body>

</html>


<script>
    $(document).ready(function () {
        $("#submit").on('click', function () {
            toastr.success("Added successfully");
            window.location.href = "Index";
        });
    });
</script>

